[submodule "vimrc"]
	path = vimrc
	url = git@github.com:Sabir777/vimrc.git
[submodule "git_config"]
	path = git_config
	url = git@github.com:Sabir777/Config-file-git.git
[submodule "tmux_conf"]
	path = tmux_conf
	url = git@github.com:Sabir777/tmux_conf.git
[submodule "Docker"]
	path = Docker
	url = git@github.com:Sabir777/Docker.git
[submodule "3x-ui"]
	path = 3x-ui
	url = git@github.com:Sabir777/xui.git
[submodule "AstroNvim"]
	path = AstroNvim
	url = git@github.com:Sabir777/AstroNvim.git
